.sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear;
}

.card__icon-button:hover .core {
  fill: var(--heart-contour-color);
}

.main-body {
  fill: transparent;
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:hover .main-body,
.card__icon-button:hover .core {
  fill: var(--heart-contour-color);
}

.card__icon-button:active .core,
.card__icon-button:active .main-body {
  fill: var(--heart-sparks-color);
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour {
  fill: var(--heart-sparks-color);
}

.like-icon.is-liked .core {
  transition: 0.3s linear;
}

.like-icon.is-liked .main-body {
  transition: 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  transition: 0.3s linear 0.06s;
}

.is-liked .heart {
  transform-origin: center;
  animation: scaling 0.3s ease-in 0.1s alternate;
}

.is-liked .sparks {
  animation: flash 0.3s ease-in 0.3s alternate;
}
@keyframes swing {
  from {
    left: -19px;
  }
  to {
    left: -15px;
  }
}

@keyframes scaling {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

@keyframes flash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}