/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-image);
  background-size: cover;
  font-family: var(--main-font);
  font-size: 1.125rem;
  color: var(--accent-color);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  inline-size: min(698px, 100%);
  padding: clamp(7.5rem, 1.502vw + 7.148rem, 8.5rem)
    clamp(0.875rem, 9.953vw - 1.458rem, 7.5rem) 1.563rem;
  margin: 102px auto 0;
  background: var(--background-color);
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font);
}

.title {
  font-weight: var(--main-text-weight);
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-end: 5px;
}

.theme-menu__button {
  font-size: 0.875rem;
}

.header__theme-menu {
  padding-inline-start: 21px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  font-size: 0.875rem;
}

.theme-menu__button {
  position: relative;
  transition: 0.3s ease;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}

.theme-menu__button:disabled,
.theme-menu__button:hover,
.theme-menu__button:focus,
.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -19px;
  bottom: 2px;
  animation: 0.5s swing ease-in-out infinite alternate;
}

@keyframes swing {
  from {
    left: -19px;
  }
  to {
    left: -15px;
  }
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button::after {
  content: "";
  display: block;
  inline-size: 100%;
  block-size: 2px;
  transform: scaleX(0);
  background-color: var(--accent-color);
  transform-origin: left;
  transition: 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}