/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font);
  font-size: 1.125rem;
  color: var(--accent-color);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  inline-size: min(698px, 100%);
  padding: clamp(7.5rem, 1.502vw + 7.148rem, 8.5rem)
    clamp(0.875rem, 9.953vw - 1.458rem, 7.5rem) 1.563rem;
  margin: 102px auto 0;
  background: var(--background-color);
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font);
}

.title {
  font-weight: var(--main-text-weight);
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-end: 5px;
}

.theme-menu__button {
  font-size: 0.875rem;
}

.header__theme-menu {
  padding-inline-start: 21px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  font-size: 0.875rem;
}

.theme-menu__button {
  position: relative;
  transition: 0.3s ease;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
}

.theme-menu__button:disabled,
.theme-menu__button:hover,
.theme-menu__button:focus,
.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -19px;
  bottom: 2px;
  animation: 0.5s swing ease-in-out infinite alternate;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button::after {
  content: "";
  display: block;
  inline-size: 100%;
  block-size: 2px;
  transform: scaleX(0);
  background-color: var(--accent-color);
  transform-origin: left;
  transition: 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.cards-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-block-start: 100px;
}

.cards-list__item {
  inline-size: min(698px, 100%);
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}

.image__first {
  filter: blur(0.12rem);
}

.image__second {
  filter: invert(0.2);
}

.image__third {
  filter: opacity(0.3);
}

.image__fourth {
  filter: drop-shadow(30px 10px 4px var(--accent-color));
}

.image__fifth {
  filter: grayscale(65%) sepia(90%);
}

.image__sixth {
  filter: hue-rotate(45deg);
}

.image__seventh {
  filter: contrast(1);
}

.image__eighth {
  filter: brightness(1.3);
}

.cards-list__item__title {
  padding: 3px 10px;
  font-size: 1.125rem;
  font-weight: var(--title-text-weight);
  border-block-end: 2px solid var(--accent-color);
}

.cards-list__item__background-and-watermark {
  position: relative;
}

.watermark {
  position: absolute;
  z-index: 1;
  top: 25px;
  right: clamp(0.688rem, 1.315vw + 0.379rem, 1.563rem);
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: 0.875rem;
  font-weight: 400;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 var(--text-stroke-color), 0 1px var(--text-stroke-color),
    1px 0 var(--text-stroke-color), 0 -1px var(--text-stroke-color);
}

@supports (
  (text-stroke: 1px var(--text-stroke-color)) or
    (-webkit-text-stroke: 1px var(--text-stroke-color))
) {
  .watermark {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
    text-shadow: none;
  }
}

.cards-list__item__background {
  inline-size: 100%;
  display: block;
}

.cards-list__item__description {
  display: flex;
  flex-direction: column;
  gap: 31px;
  padding: 25px;
  border-block-start: 2px solid var(--accent-color);
  line-height: 116.7%;
  font-weight: var(--main-text-weight);
}

.cards-list__item__buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 6px;
  padding: 0 25px 25px 0;
}

.button {
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  inline-size: 100%;
  block-size: 100%;
  transform: scaleX(0);
  transition: 0.5s ease-in-out;
  transform-origin: left;
  background-color: var(--accent-color);
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
  text-align: center;
  font-family: var(--accent-font);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 90%;
  color: var(--mix-blend-color);
}

.card__icon-button {
  inline-size: 42px;
  block-size: 38px;
  border: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
  box-shadow: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__icon-button:hover::before {
  transform: scaleX(0);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  padding: 9px 17px;
}

.like-icon {
  fill: var(--accent-color);
}

.footer {
  display: flex;
  justify-content: center;
  padding-block: 54px 104px;
}

.open-dialog__button {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  inline-size: clamp(19.125rem, 2.723vw + 18.487rem, 20.938rem);
  padding: 15px 15px;
}

.svg__floppy {
  position: relative;
  z-index: 1;
  inline-size: 28px;
  block-size: 28px;
  fill: var(--mix-blend-color);
  mix-blend-mode: difference;
}

@media screen and (width >= 1440px) {
  .open-dialog__button {
    display: grid;
    grid-template-columns: 21px auto;
  }
  .svg__floppy {
    inline-size: 21px;
    block-size: 21px;
  }
}

.dialog {
  inline-size: clamp(21.313rem, 1.502vw + 20.96rem, 22.313rem);
  background-color: var(--background-color);
  color: var(--accent-color);
  padding: 30px 37px;
  border: 2px solid var(--accent-color);
}

.dialog__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.dialog__floppy {
  inline-size: 92.9px;
  block-size: 39px;
}

.dialog__text {
  font-family: var(--accent-font);
  line-height: 150%;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.close-dialog__button {
  inline-size: clamp(16.063rem, 3.38vw + 15.27rem, 18.313rem);
  block-size: 38px;
  margin-block-start: 30px;
  line-height: 90%;
  padding: 9px 17px;
}